<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodTrucks - Marc</title>

    <!--Bootstrap------------------------------------------------------------------------------------>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <!----------------------------------------------------------------------------------------------->
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" href="../img/marclogo.svg">
</head>
<body>

  <!--NAVBAR------------------------------------------------------------------------------------>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="inicio">
      <a class="navbar-brand" href="../index.html"><img src="../img/1.svg" alt="logo" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../index.html">¿Quiénes somos?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Galería</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Carta</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="calientes.html">Platos Calientes </a>
                <a class="dropdown-item" href="frios.html">Platos Fríos</a>
                <a class="dropdown-item" href="bebidas.html">Bebidas</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    <!--WHATSSAP------------------------------------------------------------------------------------>
      <div class="whatsapp">
        <a href="https://api.whatsapp.com/send?phone=34682419815" target="_blank" title="Contactame por Whatsapp">
          <img src="../img/w.png" alt="WhatsApp" />
        </a>
      </div>

    <!--TITULO------------------------------------------------------------------------------------>
        <div class="contenedor" id="calientes">
        <div class="titulo">
            <h1><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" id="icono"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M64 0C50.7 0 40 10.7 40 24s10.7 24 24 24c4.4 0 8 3.6 8 8v64.9c0 12.2-7.2 23.1-17.2 30.1C21.7 174.1 0 212.5 0 256V448c0 35.3 28.7 64 64 64H192c35.3 0 64-28.7 64-64V256c0-43.5-21.7-81.9-54.8-105c-10-7-17.2-17.9-17.2-30.1V56c0-4.4 3.6-8 8-8c13.3 0 24-10.7 24-24s-10.7-24-24-24l-8 0 0 0 0 0H72l0 0 0 0L64 0zm64 382c-26.5 0-48-20.1-48-45c0-16.8 22.1-48.1 36.3-66.4c6-7.8 17.5-7.8 23.5 0C153.9 288.9 176 320.2 176 337c0 24.9-21.5 45-48 45z"/></svg> Bebidas</h1>
        </div>
        </div>

    <!--CARTA------------------------------------------------------------------------------------>
    <div class="contenedor">

        <div class="galeria">
    <!----------------------------------------------------------------->
            <div class="menu">
                <img src="../img/22.jpeg" alt="Foto" class="image" width="600" height="400">
        
                <div class="overlay">
                    <div class="text">
                    Coca-Cola - 2€
                    </div>
                </div>
            </div>
    <!----------------------------------------------------------------->    
            <div class="menu">
                <img src="../img/23.jpeg" alt="Foto" class="image" width="600" height="400">
        
                <div class="overlay">
                    <div class="text">
                    Cerveza - 1,50€
                    </div>
                </div>
            </div>
    <!----------------------------------------------------------------->
            <div class="menu">
                <img src="../img/24.jpeg" alt="Foto" class="image" width="600" height="400">

                <div class="overlay">
                    <div class="text">
                    Agua - 1€
                    </div>
                </div>
            </div>
    <!----------------------------------------------------------------->
            <div class="menu">
                <img src="../img/25.jpeg" alt="Foto" class="image" width="600" height="400">

                <div class="overlay">
                    <div class="text">
                    Pepsi - 2,20€
                    </div>
                </div>
            </div>
    <!----------------------------------------------------------------->
            <div class="menu">
                <img src="../img/26.jpeg" alt="Foto" class="image" width="600" height="400">

                <div class="overlay">
                    <div class="text">
                    Té - 2,90€
                    </div>
                </div>
            </div>
    <!----------------------------------------------------------------->
        <div class="menu">
            <img src="../img/27.jpeg" alt="Foto" class="image" width="600" height="400">

            <div class="overlay">
                <div class="text">
                Fanta - 2,10€
                </div>
            </div>
        </div>
    <!----------------------------------------------------------------->
        </div>
    </div>

        
  
  <!--FOOTER------------------------------------------------------------------------------------>
  <footer>
    <hr class="small">

    <div class="container">

      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>¿Quiénes somos?</h6>
          <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>

        <div class="col-6 col-md-3" id="der">
          <h6>Categorias</h6>
          <ul class="footer-links ">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../index.html">¿Quiénes Somos?</a></li>
            <li><a href="../index.html">Galería</a></li>
          </ul>
        </div>

      </div>
      <hr class="small">
    </div>

    
    <div class="container">
      <!--CATEGORIAS------------------------------------------------------------------------------------>
      <div class="row">
        <div class="col-md-8 col-sm-6 col-12">
          <p class="copyright-text">Copyright © 2022 All Rights Reserved by
            <a href="https://github.com/marccgarciia">@marccgarciia</a>.
          </p>
        </div>
      
        <!--ENLACES------------------------------------------------------------------------------------>
        <div class="col-md-4 col-sm-6 col-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
            <li><a class="twitter" href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></li>
            <li><a class="instagram" href="https://www.instagram.com/"><i class="fab fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div>

    </div>
  </footer>

    <script src="js/index.js"></script>
</body>
</html>